<nav class="navbar">
  <div class="logo">🎮 Instant Gaming</div>
  <ul class="nav-links">
    <li><a routerLink="/">Accueil</a></li>
    <li><a routerLink="/catalogue">Catalogue</a></li>
    <li><a routerLink="/cart">Panier</a></li>

    <ng-container *ngIf="isLoggedIn$ | async; else guestLinks">
      <li><a routerLink="/wishlist">Wishlist</a></li>
      <li><a routerLink="/profile">Profil</a></li>
      <li><a (click)="logout()" style="cursor: pointer;">Déconnexion</a></li>
    </ng-container>

    <ng-template #guestLinks>
      <li><a routerLink="/login">Connexion</a></li>
    </ng-template>
  </ul>
</nav>